apiVersion: apps/v1
kind: Deployment
metadata:
  name: notifications
  namespace: sandbox-app
  labels:
    app: notifications
spec:
  replicas: 2
  selector:
    matchLabels:
      app: notifications
  template:
    metadata:
      labels:
        app: notifications
    spec:
      containers:
        - name: notifications
          image: notifications-service:v1
          imagePullPolicy: IfNotPresent
          env:
            - name: PORT
              value: "8100"
          ports:
            - containerPort: 8100
          readinessProbe:
            httpGet:
              path: /healthz
              port: 8100
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8100
            initialDelaySeconds: 15
            periodSeconds: 20
