apiVersion: v1
kind: Service
metadata:
  name: notifications
  namespace: sandbox-app
spec:
  selector:
    app: notifications
  ports:
    - name: http
      protocol: TCP
      port: 8100
      targetPort: 8100
  type: ClusterIP
