adminUser: admin
adminPassword: dev-password
datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://prometheus-server.sandbox-app.svc.cluster.local
        isDefault: true
