apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: sandbox-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: api
  template:
    metadata:
      labels:
        app: api
    spec:
      containers:
        - name: api
          image: api-service:v1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
