apiVersion: v1
kind: Service
metadata:
  name: gateway-service
  namespace: sandbox-app
  labels:
    app: gateway-service
spec:
  selector:
    app: gateway-service
  ports:
    - name: http
      port: 8080
      targetPort: 8080
